<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartrady_final"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="com.app.app.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="com.app.app.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="com.app.app.TAG_CODE_PERMISSION_LOCATION" />
    <permission android:name="com.app.app.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Registrace_main"
            android:parentActivityName=".Prihlaseni_main"></activity>
        <activity
            android:name=".Profil_main"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Prihlaseni_main"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Main2Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GUI"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".GUI" />
        </activity>

        <provider
            android:name="com.example.smartrady_final.MySuggestionProvider"
            android:authorities=".MySuggestionProvider" />
    </application>


</manifest>